<%- include ("templates/header")%>
    Hello, <%=user%><br>
        <a href="/members"><button class="btn btn-outline-secondary">Go to Members Area</button> </a><br>
        <a href="/logout"><button class="btn btn-outline-secondary">Logout</button></a>
        <%- include ("templates/footer")%>